        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        canvas {
            border: none;
            background-color: #fff;
            
        }
        .waverformWrapperDiv
        {
            border: 3px solid red;
            margin: 5px;
        }

        .operationWrapperDiv
        {
            border: 3px solid blue;
            margin: 5px;
        }

        .invisible
        {
            display: none;
        }
