body {
    font-family: Consolas;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 95%;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    gap: 2rem;

    /*
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    */
}

#waveforms
{
    width: 80%;
}

#favOps {
    width: 15%;
}

#ops {
    width: calc(95% + 2rem);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

canvas {
    border: none;
    background-color: #fff;
    margin: 0 auto;
    
}

.operationHeaderDiv, .waveformHeaderDiv
{
    cursor: move;
    user-select: none;
    text-align: center;
}

.operationWrapperDiv, .waveformWrapperDiv
{
    border: 3px solid blue;
    margin-bottom: 0.5rem;
}

.invisible
{
    display: none;
}

.waves
{
    margin-bottom: 1rem;
}

#favOps
{
    background-color:#d2ffff;
}


/* BUTTONS */
button {
    font-family: Consolas;
    height: 1.8em;

}

.commandButton
{
    background-color:burlywood;
    font-weight: bold;
    width: 100%;
}

.operationWrapperDiv[id^=script] .commandButton,
.operationWrapperDiv[id^=script] .auxButton { /* whole rule new */
    width: 48%;
}

#cut .auxButton,
#cut .textInput { /* whole rule new */
    width: 25%;
}

.operationDiv .auxButton { /* whole rule new */
    width: 100%;
}



.waveformWrapperDiv .dashboard { /* whole rule new */
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-content: center;
}

/* DIVs */
.helptextDiv
{
    display: inline;
}

.operationHeaderDiv, .waveformHeaderDiv
{
    background-color:azure;
}

/* INPUTS */
input[type=text]{
    background-color: #aaa;
    height: 1.5em;
}

select
{
    font-family: Consolas;
    height: 1.8em;
}

option
{
    font-family: Consolas;
}

/*--------------------*/
#waveforms .waveformHeaderDiv { 
    font-size: 2rem;
    padding: 0.5rem 0;
    font-weight: bold;
    border-bottom: 3px solid black;
}

#waveforms .waveformDiv {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
}

#waveforms .waveformDiv.invisible {
    display: none;
}

.waveform-data {
    position: absolute;
    width: 90%;
    height: calc(100% - 3rem);
    top: 1rem;
    left: 0;
    margin: 0 5%;
}

.miscChar {
    position: absolute;
    bottom: 100%;
}

.miscChar.scale {
    left: 0;
}

.miscChar.samplerate {
    right: 0;
}

.timestamp {
    top: 100%;
    position: absolute;
    font-size: 0.7rem;
}

.timestamp.notch1 {
    left: 0;
}

.timestamp.notch2 {
    left: 25%;
}

.timestamp.notch3 {
    left: 50%;
}

.timestamp.notch4 {
    left: 75%;
}

.timestamp.notch5 {
    right: 0;
}

.timestamp.notch2,
.timestamp.notch3,
.timestamp.notch4 {
    transform: translateX(-50%);
}

.canwasWrapper {
    position: relative;
    display: flex;
    padding: 1rem 0 2rem 0;
}

.operationWrapperDiv .operationDiv {
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap; /* changed */
    gap: 0.5rem;    
}

input[type=text] {
    background-color: #aaa;
    height: 1.5em;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

button {
    cursor: pointer;
}

#uploadWrapperDiv {
    padding: 0;
}

#uploadWrapperDiv label {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 2px;
}

.operationWrapperDiv .operationDiv .operationLineDiv {
    display: flex;
    flex-flow: row wrap; /* changed */
    gap: 0.5rem;
}




/* POP UP WINDOW */
html.modalOpen,
body.modalOpen {
position: relative;
overflow: hidden;
}

#popupButton {
font-size: 1.2rem;
padding: 0 1rem;
}

.popUp-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 50;
}

.popUp-overlay.invisible {
display: none;
}

.actual-popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
max-height: 100vh;
max-width: 750px;
overflow: auto;
width: 100%;
min-height: 250px;
padding: calc(3rem + 7px) 1rem 1rem 1rem;
background: #f2f2f2;
border: 2px solid black;


flex-flow: column nowrap;
align-items: center;
}

.close-button {
cursor: pointer;
position: absolute;
top: 0.5rem;
right: 0.5rem;
width: 1.25rem;
height: 1.25rem;
border: none;
}

.cross {
position: relative;
transform: translateY(-10px);
}

.cross .cross-part {
position: absolute;
left: 1px;
width: 2px;
height: 20px;
background: #000000;
}

.popUp-content {
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
}

#popupHeader {
font-weight: bold;
font-size: 2rem;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
border-bottom: 2px solid black;
width: 100%;
text-align: center;

}#popupContent {
margin-bottom: 1rem;
}
