        body {
            font-family: Arial, sans-serif;
            min-height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        #container
        {
            display: flex;
            flex-flow: column nowrap;
            width: 95%;
            padding: 2rem 1.5rem;
            margin: 0 auto;
        }

        canvas {
            border: none;
            background-color: #fff;
            
        }
        .waveformWrapperDiv
        {
            border: 3px solid red;
            margin-bottom: 0.5rem;
        }

        .operationHeaderDiv
        {
            cursor: move;
            user-select: none;
        }

        .operationWrapperDiv
        {
            border: 3px solid blue;
            margin-bottom: 0.5rem;
        }

        .invisible
        {
            display: none;
        }

        .waves
        {
            margin-bottom: 1rem;
        }

